
    <div class="container col-md-3 col-xs-12 product-container" id="container-<%= product.id %>">
      <div class="product-title">
        <h4><%=link_to product.name, product %></h4>
      </div>
      <div class="product-image">
        <%=link_to image_tag(product.image_url,class: "img-responsive product-img") , product %>
      </div>
      <ul class="product-options">
        <li class="price">€<%= product.price %></li>
        <li class="product-buy"><a class="btn btn-custom">Add to Cart</a></li>
      </ul>
      <% if signed_in? && current_user.admin? %>
        <div class="action-buttons">
          <%= link_to "Edit", edit_product_path(product) %>
        </div>
        <div class="action-buttons">
          <%= link_to "Delete", product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
