<% cache product do %>
    <div class="container col-md-3 col-xs-12 product-container" id="container-<%= product.id %>">
      <div class="image-container">
        <% if product.image_url? %>
          <%=link_to image_tag(product.image_url,class: "img-responsive product-image") , product %>
        <% else %>
          <%=link_to image_tag("http://epaper2.mid-day.com/images/no_image_thumb.gif",class: "img-responsive product-image") , product %>
        <% end %>
      </div>
      <div class="product-title">
          <strong><%=product.name%></strong>
      </div>
      <div class="grid-product-info">
        <div class="product-text">
          <div class="price" id="product-price-<%= product.id %>">€<%= product.price %></div>
        </div>
        
      </div>
      <% if signed_in? && current_user.admin? %>
        <div class="action-buttons">
          <%= link_to "Edit", edit_product_path(product) %>
        </div>
        <div class="action-buttons">
          <%= link_to "Delete", product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
<% end %>
